# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
out/
.astro/
storybook-static/
*.tsbuildinfo

# Logs
*.log

# Environment and local files
.env
.env.local
*.local

# System & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
